.container {
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	padding-bottom: 1rem;
	margin: 0 auto;
	color: var(--light-grey);
	text-align: center;
}

.gridSection {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sectionOpen {
	width: 90%;
	padding: 10px;
	margin: 16px;
	border-top: solid 2px var(--orange-color);
	border-bottom: solid 2px var(--orange-color);
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 20px 2px var(--dark-grey);
	border-radius: 8px;
	color: var(--white);
	font-size: 20px;
}

.homeImage {
	width: 30%;
	border-radius: 50%;

	@media (max-width: 1300px) {
		width: 50%;
		margin: 20px 0;
	}
}

.pText {
	margin: 1rem auto;
	width: 40%;
}

@media (max-width: 1099px) {
	.gridSection {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.sectionOpen {
		width: 90%;
		padding: 10px;
		margin: 10px auto;
		border-top: solid 2px var(--orange-color);
		border-bottom: solid 2px var(--orange-color);
		background: rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 20px 2px var(--dark-grey);
		border-radius: 8px;
		color: var(--white);
	}

	.pText {
	}
}

@media (min-width: 1100px) and (max-width: 1300px) {
	.container {
	}

	.gridSection {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.aboutUs {
		width: 50%;
		margin: 1rem auto;
		font-size: 16px;
		background: rgba(51, 51, 51, 0.7);
		border-radius: 8px;
		padding: 1.3rem;
		color: var(--white);
	}

	.sectionOpen {
		width: 90%;
		padding: 1rem;
		margin: 2rem auto;
		border-top: solid 2px var(--orange-color);
		border-bottom: solid 2px var(--orange-color);
		background: rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 20px 2px var(--dark-grey);
		border-radius: 8px;
		color: var(--white);
	}

	.pText {
	}
}

@media (min-width: 1301px) and (max-width: 1440px) {
	.gridSection {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.sectionOpen {
		width: 60%;
		padding: 1rem;
		margin: 2rem auto;
		border-top: solid 2px var(--orange-color);
		border-bottom: solid 2px var(--orange-color);
		background: rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 20px 2px var(--dark-grey);
		border-radius: 8px;
		color: var(--white);
	}

	.aboutUs {
		background: rgba(51, 51, 51, 0);
		color: var(--white);
		width: 20%;
		padding: 2rem;
		position: absolute;
		border-radius: 8px;
		top: 32%;
		left: 40%;
	}

	.aboutUs:hover {
		background: rgba(51, 51, 51, 0.8);
		transition: 1s;
	}

	.pText {
	}
}

@media (min-width: 1441px) {
	.articleTwo {
		margin-top: 4rem;
		width: 100%;
	}

	.sectionOpen:nth-child(odd) {
		width: 70%;
		padding: 1rem;
		margin: 3rem auto;
		border-top: solid 2px var(--orange-color);
		border-bottom: solid 2px var(--orange-color);
		background: rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 20px 2px var(--dark-grey);
		border-radius: 8px;
		color: var(--white);
	}

	.aboutUs {
		background: rgba(51, 51, 51, 0);
		color: var(--white);
		width: 20%;
		padding: 2rem;
		position: absolute;
		border-radius: 8px;
		top: 35%;
		left: 40%;
	}

	.aboutUs:hover {
		background: rgba(51, 51, 51, 0.8);
		transition: 1s;
	}

	.textP {
		margin: 2rem 0;
		border-bottom: var(--orange-color);
	}

	.corridor {
		box-shadow: 4px 4px 20px 4px;
		margin: 1rem auto;
	}

	.imageSection {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 2fr);
		grid-template-rows: repeat(1, 1fr);
	}

	.pText {
	}
}

@media (min-width: 1921px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}

	.pText {
	}

	.aboutUs {
		position: absolute;
		top: 22%;
		left: 42.8%;
		width: 15%;
	}
}
