@media (min-width: 1440px) {
	.wrapperOpened {
		display: none;
	}

	.wrapperClosed {
		display: none;
	}
}

@media (min-width: 1100px) and (max-width: 1300px) {
	.wrapperOpened {
		transform: scale(2);
	}

	.wrapperClosed {
		transform: scale(2);
	}
}

@media (max-width: 1440px) {
	.wrapperOpened {
		position: fixed;
		right: 16px;
		bottom: 16px;
		width: 3rem;
		height: 3rem;
		background: rgba(255, 255, 255, 0.4);
		padding: 8px;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border: none;
		cursor: pointer;
		outline: none;
		z-index: 1;
	}

	.wrapperClosed {
		position: fixed;
		right: 5vw;
		bottom: 7vw;
		width: 2rem;
		height: 2rem;
		padding: 0;
		background: transparent;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border: none;
		cursor: pointer;
		outline: none;
		z-index: 1;
	}

	.burgerClosed {
		position: relative;
		width: 2rem;
		height: 0.25rem;
		border-radius: 10px;
		background-color: var(--orange-color);
	}

	.burgerOpened {
		position: relative;
		width: 2rem;
		height: 0.25rem;
		border-radius: 10px;
		background-color: var(--orange-color);
	}

	.burgerOpened:first-child {
		transform: rotate(45deg);
		transition: all 0.3s linear;
		transform-origin: 1px;
	}

	.burgerOpened:nth-child(2) {
		opacity: 0;
	}

	.burgerOpened:nth-child(3) {
		transform: rotate(-45deg);
		transition: all 0.3s linear;
		transform-origin: 1px;
	}
}
